<section class=" h-screen flex m-16">
    <div class="left w-2/4">
      <p class="text-5xl">Frequently Asked<br>Questions</p>
      <p class="text-lg">Find answers to common questions about server racks<br> and D2W innovative and durable products.</p>
      <button class="btn">Contact</button>
    </div>
    <div class="right flex flex-col gap-4 w-2/4">
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" checked="checked" />
          <div class="collapse-title text-2xl font-bold">
            What are server racks?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Server racks are specialized frames or cabinets designed to securely hold and organize servers, networking equipment, and other IT infrastructure components in data centers or server rooms.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            Why are server racks important?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Server racks are important because they provide efficient space utilization, proper airflow and cooling, cable management, and physical security for servers and other equipment, ensuring optimal performance and reliability.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            What types of server racks do you offer?
          </div>
          <div class="collapse-content">
            <p class="text-lg">We offer a wide range of server racks, including open frame racks, enclosed racks, wall-mount racks, and specialty racks designed for specific requirements. Our racks are build with durability, flexibility, and ease of installation in mind.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            How do I choose the right server rack?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Choosing the right server rack depends on factors such as size and number of servers, available space, cooling requirements, and future scalability needs. Our team of experts can help select the ideal rack for your specified needs.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            Do you offer custom racks?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Yes, we offer custom rack solutions tailored to meet your unique requirements. Our team can work with you to design and manufacture racks that perfectly fit your specifications and deliver the functionality you need.</p>
          </div>
        </div>
      </div>
</section>
