<section class=" h-screen flex m-16">
    <div class="left w-2/4">
      <p class="text-5xl">Frequently Asked<br>Questions</p>
      <p class="text-lg">Find answers to common questions about server racks<br> and D2W innovative and durable products.</p>
      <button class="btn">Contact</button>
    </div>
    <div class="right flex flex-col gap-4 w-2/4">
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" checked="checked" />
          <div class="collapse-title text-2xl font-bold">
            What are server racks?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Server racks are specialized frames or cabinets designed to securely hold and organize servers, networking equipment, and other IT infrastructure components in data centers or server rooms.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            Why are server racks important?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Server racks are important because they provide efficient space utilization, proper airflow and cooling, cable management, and physical security for servers and other equipment, ensuring optimal performance and reliability.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            What types of server racks do you offer?
          </div>
          <div class="collapse-content">
            <p class="text-lg">We offer a wide range of server racks, including open frame racks, enclosed racks, wall-mount racks, and specialty racks designed for specific requirements. Our racks are build with durability, flexibility, and ease of installation in mind.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            How do I choose the right server rack?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Choosing the right server rack depends on factors such as size and number of servers, available space, cooling requirements, and future scalability needs. Our team of experts can help select the ideal rack for your specified needs.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            Do you offer custom racks?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Yes, we offer custom rack solutions tailored to meet your unique requirements. Our team can work with you to design and manufacture racks that perfectly fit your specifications and deliver the functionality you need.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            Can server racks be customized for specific power requirements?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Yes, server racks can be customized to accommodate specific power requirements. This includes integrating power distribution units (PDUs), uninterruptible power supplies (UPS), and other power management solutions to ensure consistent, reliable power delivery to your server and networking equipment.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            What are the key features to look for in a server rack?
          </div>
          <div class="collapse-content">
            <p class="text-lg">When selecting a server rack, key features to consider include load capacity, size and scalability, ease of access, cooling efficiency, and cable management options. Understanding these features can help ensure that you choose a rack that meets both current and future infrastructure needs.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            How does server rack cooling work?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Server rack cooling is crucial to prevent overheating. It involves the use of fans, air conditioning units, and strategic design to maintain optimal airflow. Proper cooling ensures reliable performance and extends the lifespan of the equipment housed in the rack.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-2xl font-bold">
            What are the safety and compliance considerations for server racks?
          </div>
          <div class="collapse-content">
            <p class="text-lg">Safety and compliance are paramount in server rack design. This includes adhering to industry standards and regulations, ensuring structural integrity, and incorporating features like secure locking mechanisms and fire-resistant materials to protect both the equipment and personnel.</p>
          </div>
        </div>
      </div>
</section>
