<section class="h-screen mt-16 mb-16">
  <div class="flex flex-col justify-center items-center">
    <div class="para text-center mt-6">
      <p class="top">{{ "Eficiência" | translate }}</p>
      <p class="title text-5xl">
        {{
          "Instalação e manutenção simplificadas para
        racks de servidores" | translate
        }}
      </p>
      <p class="description text-lg">
        {{
          "Na D2W Solutions, fornecemos soluções inovadoras e duráveis de racks
        para servidores, projetadas para
        otimizar eficiência e segurança em ambientes modernos de centros de
        dados. Nossa instalação e
        processo de manutenção são simplificados para garantir uma configuração
        sem complicações e suporte contínuo." | translate
        }}
      </p>
    </div>
  </div>
  <div class="bottom flex justify-evenly m-16">
    <div class="card w-96 bg-base-100 shadow-xl bg-white">
      <figure>
        <img src="/assets/images/installation2.png" alt="Imagem" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {{ "Instalação e Manutenção Fáceis" | translate }}
          <div class="badge badge-secondary bg-blue-400 border-blue-400">
            TOP
          </div>
        </h2>
        <p>
          {{
            "Nossos racks de servidores são projetados para uma instalação e
          manutenção fáceis, economizando seu tempo e esforço." | translate
          }}
        </p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">
            {{ "Centro de Dados" | translate }}
          </div>
          <div class="badge badge-outline">{{ "Racks" | translate }}</div>
        </div>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl bg-white">
      <figure>
        <img src="/assets/images/secure.png" alt="Imagem" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {{ "Seguro e Confiável" | translate }}
          <div class="badge badge-secondary bg-blue-400 border-blue-400">
            TOP
          </div>
        </h2>
        <p>
          {{
            "Com a D2W Solutions, você pode confiar que seu rack de servidor é
          seguro e confiável." | translate
          }}
        </p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">
            {{ "Centro de Dados" | translate }}
          </div>
          <div class="badge badge-outline">{{ "Racks" | translate }}</div>
        </div>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl bg-white">
      <figure>
        <img src="/assets/images/customazible.png" alt="Imagem" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {{ "Soluções Personalizáveis" | translate }}
          <div
            class="badge badge-secondary rounded bg-blue-400 border-blue-400"
          >
            TOP
          </div>
        </h2>
        <p>
          {{
            "Oferecemos soluções personalizáveis de racks para servidores para
          atender às suas necessidades específicas." | translate
          }}
        </p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">{{"Centro de Dados" | translate}}</div>
          <div class="badge badge-outline">{{"Racks" | translate}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons flex justify-center gap-2">
    <button class="btn btn-activ bg-blue-400 text-white">{{"Saiba Mais" | translate}}</button>
    <button class="btn btn-active btn-neutral text-white">
      {{"Catálogo" | translate}}<i class="fa-solid fa-download"></i>
    </button>
  </div>
</section>
