<section class="h-screen mt-16 mb-3">
  <div class="flex flex-col justify-center items-center">
    <div class="para text-center mt-6">
      <p class="top">Efficiency</p>
      <p class="title text-5xl">
        Streamlined installation and<br />
        maintenance process for server<br />
        racks
      </p>
      <p class="description text-lg">
        At D2W Solutions, we provide innovative and durable server rack
        solutions designed to<br />
        optimeze efficiency and security in modern data center enviroments. Our
        installation and<br />
        maintenance process is streamlined to ensure hassle-free setup and
        ongoing support.
      </p>
    </div>
  </div>
  <div class="bottom flex justify-evenly m-16">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Easy Installation and Maintenance
          <div class="badge badge-secondary bg-red-500 border-red-500">TOP</div>
        </h2>
        <p>
          Our server Racks are designed for easy installation and maintenance,
          saving you time and effort.
        </p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">Data Center</div>
          <div class="badge badge-outline">Racks</div>
        </div>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Secure and Reliable
          <div class="badge badge-secondary bg-red-500 border-red-500">TOP</div>
        </h2>
        <p>
          With D2W Solutions, you can trust that your server rack are secure and
          reliable.
        </p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">Data Center</div>
          <div class="badge badge-outline">Racks</div>
        </div>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl">
      <figure>
        <img
          src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Customizable Solutions
          <div class="badge badge-secondary bg-red-500 border-red-500">TOP</div>
        </h2>
        <p>
          We offer customizable serve racks solutions to meet your specific
          needs.
        </p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">Data Center</div>
          <div class="badge badge-outline">Racks</div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons flex justify-center gap-2">
    <button class="btn btn-active">Learn More</button>
    <button class="btn btn-active btn-neutral">
      Catalog<i class="fa-solid fa-download"></i>
    </button>
  </div>
</section>
