<section class="m-16 h-screen pt-12 flex flex-col justify-start">
  <div class="top">
    <div class="">
      <p class="text-5xl">What Our Customers Say</p>
      <p class="text-lg">Read testimonial from our satisfied customers.</p>
    </div>
  </div>
  <div
    class="container w-full flex justify-center items-center mt-16 ml-16 gap-4"
  >
    <div class="card1 w-screen">
      <div class="rating mb-6">
        <input type="" name="rating-1" class="mask mask-star" />
        <input type="" name="rating-1" class="mask mask-star" checked />
        <input type="" name="rating-1" class="mask mask-star" />
        <input type="" name="rating-1" class="mask mask-star" />
        <input type="" name="rating-1" class="mask mask-star" />
      </div>
      <p class="text-lg">
        D2W has revolutionized our data center infrastructure. Their innovative
        racks have greatly improved efficiency and security.
      </p>
      <div class="container flex items-center">
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img
              src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
            />
          </div>
        </div>
        <div class="flex">
          <p class="p-4">John Doe<br />IT Manager, ABC Company</p>
        </div>
      </div>
    </div>

    <div class="card2 w-screen">
      <div class="rating mb-6">
        <input type="" name="rating-1" class="mask mask-star" />
        <input type="" name="rating-1" class="mask mask-star" checked />
        <input type="" name="rating-1" class="mask mask-star" />
        <input type="" name="rating-1" class="mask mask-star" />
        <input type="" name="rating-1" class="mask mask-star" />
      </div>
      <p class="text-lg">
        D2W has revolutionized our data center infrastructure. Their innovative
        racks have greatly improved efficiency and security.
      </p>
      <div class="container flex items-center">
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img
              src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
            />
          </div>
        </div>
        <div class="flex">
          <p class="p-4">Jane Smith<br />CTO, XYZ Corporation</p>
        </div>
      </div>
    </div>
  </div>

  <div class="down flex flex-col justify-center items-center h-screen gap-4">
    <p class="text-5xl">Custom Solutions for You</p>
    <p class="text-lg">
      Contact D2W for innovative and durable server rack solutions.
    </p>
    <div class="buttons flex justify-start gap-2">
      <button class="btn btn-active bg-blue-400 text-white">Contact</button>
      <button class="btn btn-active btn-neutral text-white">
        Catalog<i class="fa-solid fa-download"></i>
      </button>
    </div>
  </div>
</section>
