<section class="flex m-16">
  <div class="left m-16 flex flex-col items-center">
    <p class="text-lg">
      A linha de Racks para Datacenter da D2W apresenta um produto excepcional, totalmente versátil e configurável, que se adapta perfeitamente ao seu projeto de datacenter. Com este rack, você terá a garantia de confiabilidade, segurança e robustez que só a D2W pode oferecer para a sua infraestrutura.
    </p>
    <div class="card w-96 bg-base-100 shadow-xl group">
      <figure><img src="/assets/images/racksPhotos/d2w_w35.webp" alt="Shoes" class="transition-transform duration-300 group-hover:-translate-y-2"/></figure>
      <div class="card-body">
        <h2 class="card-title">
          W35 – Rack Server Premium!
          <div class="badge badge-secondary">Novo</div>
        </h2>
        <div class="flex justify-center">
          <a routerLink="/w35"><button class="btn  w-26">Saber mais</button></a>
        </div>
      </div>
    </div>
  </div>


  <div class="right m-16">
    <div class="join">
      <div>
        <div>
          <input class="input input-bordered join-item" placeholder="Search"/>
        </div>
      </div>
      <select class="select select-bordered join-item">
        <option disabled selected>Filter</option>
        <option>Racks para Datacenter</option>
        <option>Rack Piso e Mini Rack Light</option>
        <option>Racks para Cabeamento</option>
        <option>Gabinetes Outdoor</option>
        <option>Projetos especiais</option>
        <option>Acessórios</option>
      </select>
      <div class="indicator">
        <span class="indicator-item badge badge-secondary">Novo</span>
        <button class="btn join-item">Pesquisar</button>
      </div>
    </div>
    <div class="drawer lg:drawer-open">
      <div class="drawer-sid">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-white text-base-content text-lg">
          <!-- Sidebar content here -->
          <li><a>Racks para Datacenter</a></li>
          <li><a>Rack Piso e Mini Rack Light</a></li>
          <li><a>Racks para Cabeamento</a></li>
          <li><a>Gabinetes Outdoor</a></li>
          <li><a>Projetos especiais</a></li>
          <li><a>Acessórios</a></li>
        </ul>
      </div>
    </div>
  </div>

</section>
