<section class="m-16 w-10/12 m-auto mb-16">
  <div class="w-1/2">
    <p class="text-5xl">{{ "Estamos contratando!" | translate }}</p>
    <p class="text-lg">
      {{
        "Ficaríamos entusiasmados em ter você na equipe! Clique em Candidatar-se
      Agora para se juntar ao nosso time vibrante, onde inovação encontra
      excelência e cada dia é uma oportunidade para se destacar. Mal podemos
      esperar para recebê-lo(a) e crescermos juntos." | translate
      }}
    </p>
    <button class="btn bg-blue-400 text-white">
      {{ "Candidatar-se Agora" | translate }}
    </button>
  </div>
</section>
