<section class="h-screen flex justify-center ">
  <div class="w-2/4 flex items-center">
    <section class="text flex flex-col pl-16 gap-4">
      <p class="text-5xl ">
        Experience the Unmatched Design Features of D2W Server Racks
      </p>
      <p class="text-lg">
        Our server racks are build with innovative and durable designs that optimize efficiency and security in modern data center enviroments.
      </p>
      <ul class="flex flex-col gap-3 text-lg">
        <li><i class="fa-solid fa-cube mr-2"></i>Innovative Design</li>
        <li><i class="fa-solid fa-cube mr-2"></i>Durable Construction</li>
        <li><i class="fa-solid fa-cube mr-2"></i>Optimized Efficiency</li>
      </ul>
    </section>
  </div>
  <section class="photo border-2 m-16 border-yellow-500 w-2/4">
    <img src="" alt="">
  </section>
</section>
