<section class="h-screen flex justify-center w-10/12 m-auto">
  <div class="w-2/4 flex items-center">
    <section class="text flex flex-col pl-16 gap-4">
      <p class="text-5xl ">
        {{'Conheça as Características de Design Incomparáveis dos Racks de Servidores D2W' | translate}}
      </p>
      <p class="text-lg">
        {{'Nossos racks de servidores são construídos com designs inovadores e duráveis que otimizam a eficiência e a segurança em ambientes modernos de centros de dados.' | translate}}
      </p>
      <ul class="flex flex-col gap-3 text-lg">
        <li><i class="fa-solid fa-cube mr-2"></i>{{'Design Inovador' | translate}}</li>
        <li><i class="fa-solid fa-cube mr-2"></i>{{'Construção Durável' | translate}}</li>
        <li><i class="fa-solid fa-cube mr-2"></i>{{'Eficiência Otimizada' | translate}}</li>
      </ul>
    </section>
  </div>
  <section class="photo flex justify-center m-16 w-2/4">
    <img src="/assets/images/data.png" alt="">
  </section>
</section>
