<section class="h-screen mt-5">
  <div class="flex justify-between items-center m-16">
    <div class="top flex flex-col h-2/4 gap-4">
      <p class="text-5xl">
        Otimizando Eficiência e Segurança<br>em Centros de Dados
      </p>
      <p class="text-lg">
        A D2W Solution oferece soluções inovadoras e duráveis de racks para servidores, projetadas para otimizar a eficiência e a segurança em ambientes modernos de centros de dados.
      </p>
    </div>
    <div class="bottom p-6">
      <div class="left">
        <p class="text-5xl">50%</p>
        <p class="text-lg">
          Aumento de Eficiência com a D2W Solution.
        </p>
      </div>
      <div class="right">
        <p class="text-5xl">50%</p>
        <p class="text-lg">
          Aprimoramento da Segurança com a D2W Solutions.
        </p>
        <div class="buttons flex justify-start gap-2">
          <button class="btn btn-active bg-blue-400 text-white">Saiba Mais</button>
          <button class="btn btn-active btn-neutral text-white">Catálogo<i class="fa-solid fa-download"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="glass image border-2 border-gray-500 h-2/4 m-16 rounded-lg">
    <img src="/assets/images/center.png" alt="">
  </div>
</section>
