<section class="h-screen mt-5">
  <div class="flex justify-between items-center m-16">
    <div class="top flex flex-col h-2/4  gap-4">
      <p class="text-5xl">
        Optimizing Data Center<br>Efficiency and Security
      </p>
      <p class="text-lg">
        D2W Solution provides innovative and durable server rack solutions designed to optimize efficiency and security in modern data center environments.
      </p>
    </div>
    <div class="bottom p-6 ">
      <div class="left">
        <p class="text-5xl">50%</p>
        <p class="text-lg">
          Increase in Efficiency with D2W Solution.
        </p>
      </div>
      <div class="right">
        <p class="text-5xl">50%</p>
        <p class="text-lg">
          Enhance Security with D2W Solutions.
        </p>
        <div class="buttons flex justify-start gap-2">
          <button class="btn btn-active bg-blue-400 text-white">Learn More</button>
          <button class="btn btn-active btn-neutral text-white">Catalog<i class="fa-solid fa-download"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class=" glass image border-2 border-gray-500 h-2/4 m-16 rounded-lg">
    <img src="/assets/images/center.png" alt="">
  </div>
</section>
