<section class="empresa">
  <div class="text-sm breadcrumbs ml-16">
    <ul>
      <li>
        <a>{{ "Home" | translate }}</a>
      </li>
      <li>
        <a>{{ "Empresa" | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="hero min-h-screen bg-base-200 bg-white w-10/12 m-auto">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="/assets/images/empresa/dwsBigLogo.jpeg"
        class="max-w-lg rounded-lg shadow-2xl"
      />
      <div class="">
        <p class="text-5xl font-bold">{{ "Sobre a D2W" | translate }}</p>
        <p class="py-6 text-lg font-bold">{{ "Quem Somos?" | translate }}</p>
        <p class="text-lg">
          {{
            "Fundada em 2022 na vibrante
          cidade de São Paulo, a D2W emergiu com o objetivo ambicioso de dar
          continuidade e expandir o legado da renomada marca Womer. Com mais de
          37 anos de atuação no mercado, a Womer se destacou pela qualidade e
          confiabilidade de seus produtos. Na D2W, honramos essa tradição, mas
          vamos além: incorporamos as mais recentes tecnologias e inovações,
          trazendo uma nova dimensão de modernidade e eficiência às soluções de
          racks para servidores." | translate
          }}
        </p>
        <p class="text-lg">
          {{ "D2W: Tradição e Inovação em Harmonia." | translate }}
        </p>
        <button class="btn btn-primary bg-blue-400">
          {{ "Catálogo" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="Valores flex h-1/2 gap-6 p-16 bg-base-200">
    <div class="card flex flex-col items-center group">
      <i
        class="fa-solid fa-chess-king text-3xl transition-transform group-hover:-translate-y-1 text-blue-400"
      ></i>
      <p class="text-lg font-bold">
        {{ "Expertise Profissional" | translate }}
      </p>
      <p class="text-lg">
        {{
          "A D2W se destaca com um time de especialistas experientes em tecnologia
        e telecomunicações, prontos para solucionar desafios complexos com
        experiência e conhecimento técnico." | translate
        }}
      </p>
    </div>

    <div class="card flex flex-col items-center group">
      <i
        class="fa-solid fa-puzzle-piece text-3xl transition-transform group-hover:-translate-y-1 text-blue-400"
      ></i>
      <p class="text-lg font-bold flex flex-col items-center">
        {{ "Metodologia Única" | translate }}
      </p>
      <p class="text-lg">
        {{
          "Nossa abordagem personalizada e metodologia exclusiva nos permitem
        atender às necessidades específicas de cada cliente com soluções
        eficientes e inovadoras." | translate
        }}
      </p>
    </div>

    <div class="card flex flex-col items-center group">
      <i
        class="fa-solid fa-check text-3xl transition-transform group-hover:-translate-y-1 text-blue-400"
      ></i>
      <p class="text-lg font-bold flex flex-col items-center">
        {{ "Compromisso com a Qualidade" | translate }}
      </p>
      <p class="text-lg">
        {{
          "Em tudo que fazemos na D2W, a qualidade é fundamental. Cuidamos de cada
        detalhe, desde os materiais até o design, para superar as expectativas
        dos clientes." | translate
        }}
      </p>
    </div>

    <div class="card flex flex-col items-center group">
      <i
        class="fa-solid fa-binoculars text-3xl transition-transform group-hover:-translate-y-1 text-blue-400"
      ></i>
      <p class="text-lg font-bold flex flex-col items-center">
        {{ "Olhando para o Futuro" | translate }}
      </p>
      <p class="text-lg">
        {{
          "A D2W está sempre em busca de inovações em racks para servidores, visando evoluir e manter a excelência herdada da Womer, enquanto construímos um futuro de confiabilidade e inovação."
            | translate
        }}
      </p>
    </div>
  </div>
  <div class="diff aspect-[16/9] h-128">
    <div class="diff-item-1">
      <div
        class="bg-white text-primary-content text-9xl font-black grid place-content-center"
      >
        <img src="/assets/images/empresa/womerLogo.jpg" alt="" />
      </div>
    </div>
    <div class="diff-item-2">
      <div class="bg-base-200 text-9xl font-black grid place-content-center">
        <img src="/assets/images/empresa/dwsBigLogo.jpeg" />
      </div>
    </div>
    <div class="diff-resizer"></div>
  </div>
</section>
