<section class="h-screen m-16 flex justify-center">
  <div class="top">
    <p>{{ "Inovador" | translate }}</p>
    <p class="text-5xl">{{ "Conheça nossa Equipe" | translate }}</p>
    <p class="text-lg">
      {{
        "Apresentando os especialistas por trás das soluções de centros de dados da
      D2W." | translate
      }}
    </p>
  </div>
  <div class="container grid grid-cols-4 gap-6">
    <div
      class="avatar justify-center pt-20 flex flex-col h-128 w-128"
      *ngFor="let card of cards"
    >
      <div class="w-24 h-72 rounded-full mb-4">
        <img
          src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
        />
      </div>
      <p class="font-bold">{{ card.name }}</p>
      <p>{{ card.profession | translate }}</p>
      <p>
        {{ card.description | translate }}
      </p>
      <div class="flex">
        <a href="" class="text-lg"><i class="fa-brands fa-linkedin"></i></a>
        <a href="" class="ml-4 text-lg"><i class="fa-brands fa-twitter"></i></a>
        <a href="" class="ml-4 text-lg"
          ><i class="fa-solid fa-basketball"></i
        ></a>
      </div>
    </div>
  </div>
</section>
