<section class="flex justify-center items-center h-screen">
  <div class='flex flex-col items-center'>
    <p class="text-8xl flex text-center font-bold">
      Innovative Server Rack<br>Solutions for Modern Data<br> Center
    </p>
    <p class="text-3xl text-center">
      Experience the power of D2W solutions cutting-edge server solutions, designed to<br> optimize efficiency and security in modern data center enviroments.
    </p>
    <div>
      <button class="btn btn-active btn-neutral">Learn More</button>
      <button class="btn btn-active btn-ghost ml-2 mt-4">Catalog<i class="fa-solid fa-download"></i></button>
    </div>
  </div>
</section>
