<section class=" overflow-hidden relative flex justify-center items-center h-screen mb-48">
  <!-- Vídeo como Background -->
  <div class="absolute top-0 left-0 w-full h-full" style="padding-top: 56.25%;">
    <iframe src="https://www.youtube.com/embed/vo6uXeB_xF0?playlist=vo6uXeB_xF0&autoplay=1&mute=1&loop=1&controls=0&showinfo=0&rel=0&modestbranding=1&iv_load_policy=3&start=0&disablekb=1" title="D2W - Video Institucional" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="absolute top-0 left-0 w-full h-full"></iframe>
</div>


  <!-- Conteúdo sobre o vídeo -->
  <div class="z-10 text-center h-screen w-screen flex flex-col justify-center" >
      <p class="text-8xl font-bold">
          Innovative Server Rack<br>Solutions for Modern Data<br> Center
      </p>
      <p class="text-3xl">
          Experience the power of D2W solutions cutting-edge server solutions, designed to<br> optimize efficiency and security in modern data center environments.
      </p>
      <div class="mt-4">
          <button class="btn btn-active btn-neutral">Learn More</button>
          <button class="btn btn-active btn-ghost ml-2">Catalog<i class="fa-solid fa-download"></i></button>
      </div>
  </div>
</section>
